@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --lime-to-cyan: linear-gradient(
    117deg,
    var(--lime-green),
    var(--bright-cyan)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
html {
  font-size: 100%;
}
body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}
.navbar {
  height: 80px;
  background: var(--white);
  z-index: 99;
  display: flex;
  padding: 0 12rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-container {
  font-size: 1.6rem;
  font-weight: bolder;
}
.hamburger-btn {
  display: none;
}
.close-btn {
  display: none;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

.m-12 {
  margin: 0 12rem;
}
.p-4 {
  padding: 0 1rem;
}
.none {
  display: none;
}
.block {
  display: none;
}
.nav-item-container{
  display: flex;
  list-style: none;
  gap: 2.5rem;
  color: var(--light-grayish-blue);
  font-weight: 400;
}

.single-item {
  position: relative;
  cursor: pointer;
  color: var(--grayish-blue);
}
.single-item:hover {
  color: var(--dark-blue);
}
.single-item::before {
  content: "";
  position: absolute;
  bottom: -160%;
  height: 2px;
  width: 0%;
  left: 50%;
  background: var(--lime-green);
  transition: 0.3s;
}
.single-item:hover::before {
  width: 100%;
  left: 0;
}
.request-btn {
  padding: 1rem 2rem;
  background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  border-radius: 99px;
  color: white;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}
.request-btn:hover {
  background: linear-gradient(90deg, rgb(95, 243, 149), rgb(63, 228, 240));
}
.hero-section {
  background: var(--white);
  overflow: hidden;
  height: 70vh;
  padding: 0 12rem;
  width: 100%;
}
.bg-desktop-1 {
  position: relative;
  top: -90%;
  left: 50%;
}
.bg-desktop-2 {
  position: absolute;
  width: 55rem;
  top: -8%;
  right: -8%;
}
.bg-mobile-1 {
  display: none;
}
.left {
  max-width: 35rem;
  transform: translateY(50%);
}
.left > header {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.left > p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: var(--grayish-blue);
  line-height: 1.7rem;
}
.section-2 {
  background: var(--very-light-gray);
  padding: 7rem 12rem;
}
.top {
  max-width: 45rem;
}
.top > header {
  font-size: 3rem;
  color: var(--dark-blue);
  font-weight: 300;
  margin-bottom: 2rem;
}
.top > p {
  color: var(--grayish-blue);
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin-bottom: 4rem;
}
.bottom {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.bottom > .card {
  max-width: 270px;
}
.card-top {
  margin-bottom: 2.4rem;
  width: 100%;
}

.card-header {
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.card-content {
  color: var(--grayish-blue);
  line-height: 1.7rem;
}
.section-3 {
  padding: 6rem 12rem;
  background: var(--very-light-gray);
}
.section-3 header {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 300;
}
.writer {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--grayish-blue);
}
.card-header > a {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 1.3rem;
}
.card-header > a:hover {
  color: var(--bright-cyan);
}
.container {
  display: flex;
  /* margin: 0 12rem; */
  justify-content: space-between;
}
.container > .card {
  background: var(--white);
  border-radius: 0.6rem;
  overflow: hidden;
  max-width: 20rem;
  height: 30rem;
}

.container > .card > .card-top {
  margin-bottom: 1.8rem;
}
.container > .card > .card-top > img {
  object-fit: cover;
  height: 15rem;
}
.container > .card > .card-body > .card-header {
  margin-bottom: 1rem;
}
.container > .card > .card-body > .writer {
  margin-bottom: 0.7rem;
}
.container > .card > .card-body > .card-content {
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
}
footer {
  padding: 4rem 12rem;
  display: flex;
  justify-content: space-between;
  background: var(--dark-blue);
  color: var(--grayish-blue);
  font-size: 1.2rem;
}
.left-container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.logos {
  display: flex;
  gap: 1rem;
}
.logos svg{
  fill:var(--white);
}
.logos > svg:hover {
  fill:  var(--lime-green);
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-row > svg {
  fill:var(--white)
}
.second-row > p,
.third-row > p {
  margin-bottom: 1rem;
  cursor: pointer;
}
.second-row > p:hover,
.third-row > p:hover {
  color: var(--lime-green);
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 575px) {
  html {
    font-size: 80%;
    text-align: center;
  }
  .navbar {
    z-index: 100;
    padding: 0 2rem;
  }
  .block {
    display: block;
  }
  .nav-item-container{
    position: absolute;
    background: var(--white);
    color: var(--dark-blue);
    top: 130%;
    left: 5%;
    border-radius: 1rem;
    flex-direction: column;
    padding:2rem 14rem 3rem 14rem;
    width: 90%;
    font-size: 1.1rem;
    box-shadow: -1px -37px 174px 0px rgba(45,49,77,1);
-webkit-box-shadow: -1px -37px 174px 0px rgba(45,49,77,1);
-moz-box-shadow: -1px -37px 174px 0px rgba(45,49,77,1);
z-index: 80;
  }
  .nav-item::before {
    bottom: -100%;
  }

  .mobile {
    display: none;
  }
  .flex {
    display: flex;
  }

  .left {
    transform: translateY(12rem);
    margin: auto;
  }
  .request-btn {
    margin: auto;
  }
  .request-btn-nav {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  .hero-section {
    padding: 0 2rem;
    height: 85vh;
  }
  .left {
    transform: translateY(160%);
  }
  .left > header {
    font-size: 3rem;
  }
  .flex-50 {
    width: 100%;
    flex: 1;
  }
  .right {
    width: 100%;
  }
  .bg-desktop-1 {
    display: none;
  }
  .bg-desktop-2 {
    top: -7%;
    transform: translateX(-15%);
    width: 27rem;
  }
  .bg-mobile-1 {
    display: block;
    width: 120%;
    margin-top: -100%;
    margin-left: -10%;
  }
  .bg-image > img {
    transform: translate(-12rem, -7rem) scale(2);
  }
  .section-2 {
    padding: 7rem 2rem;
  }
  .bottom {
    flex-direction: column;
  }
  .bottom > .card {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .bottom > .card > .card-body {
    padding: 0 2rem;
  }
  .bottom > .card > .card-body > .card-header {
    font-size: 1.6rem;
  }
  .bottom > .card > .card-body > .card-content {
    font-size: 1.1rem;
  }
  .section-3 {
    padding: 7rem 2rem;
  }
  .section-3 > header {
    font-size: 3rem;
  }
  .container > .card {
    text-align: left;
    max-width: 100%;
  }
  footer {
    flex-direction: column;
    padding: 4rem;
  }
  .left-container {
    flex-direction: column;
    gap: 2.5rem;
  }
  .first-row {
    align-items: center;
    gap: 3rem;
  }
  .third-row {
    transform: translateY(-30%);
  }
  .first-row > img {
    width: 40%;
  }
  .right-container {
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 1440px) {
  .navbar, .hero-section {
    padding: 0 6rem;
  }
  .section-2, .section-3 {
    padding: 7rem 6rem;
  }
  footer {
    padding: 4rem 6rem;
  }
  .bg-desktop-2 {
    width: 50rem;
  }
  
}

